h1 {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;  /* identical to box height */

  color: #b1b8c0;
}

h2.time {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 58px;
    text-align: center;
    color: #4880EE;
}

p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}



input{
    box-sizing: border-box;
    width: 324px;
    height: 47px;
    background: #FFFFFF;
    border-radius: 12px;
}

div.wrapper{
    height:812px;
    width:375px;
    margin:0 auto;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

mypigs.text1{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

mypigs{
    background: #F2F4F6;
    border-radius: 18px 18px 0px 0px;
    width: 346px;
    height: 517px;
}

main {
    width: 309px;
    height: 167px;
    left: 25px;
    top: 101px;
    background: #A9C6FF;
    border-radius: 83.5px;
}
main1 {
    width: 45px;
    height: 41px;
    left: 107px;
    top: 244px;
    background: #A9C6FF;
    border-radius: 6px;
}