top {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #B1B8C0;
}


makepig {
    margin-right: -10px;
}

p {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:230px;
    position: absolute;
    margin-left: 100px;
    margin-top:-150px;
}
h2.time {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
    color: #4880EE;
    margin-top: -120px;
    position: absolute;
}

p1 {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top:-80px;
    margin-left: 140px;
    position: absolute;
}


main {
    width: 309px;
    height: 167px;
    background: #A9C6FF;
    border-radius: 83.5px;
    margin: 10px;
    position: absolute;
}

allpigs {
    width: 346px;
    height: 800px;
    padding-top: 100px;
    left: 15px;
    top: 304px;
    background: #F2F4F6;
    border-radius: 18px 18px 0px 0px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    color: black;
    padding: 16px;
    padding-top: 16px;
    margin-top: 200px;
}

mypigs.text1 {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    color: black;
    padding-top: 16px;
}
allpigs{ 
    font-family: 'Noto Sans KR';
    font-style: normal;
    color: black;
    padding: 16px;
    padding-top: 16px;
    margin-top: 10px;

}
.plus {
    width: 18px;
    height: 18px;
    margin-right: 350px;
    float:left;
}
.logout {
    width: 18px;
    height: 18px;
    margin-left: 350px;
}

.pig {
    width: 344.04px;
    height: 210px;

}

piglist {
    font-family: 'Noto Sans KR';
    font-style: normal;
    color: black;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 16px;
    line-height: 30px;
}
input{
    box-sizing: border-box;
    width: 324px;
    height: 47px;
    background: #FFFFFF;
    border-radius: 12px;
}

div.wrapper{
    min-height:100vh;
    max-width:375px;
    width:100%;
    margin:0 auto;
    /* border:1px solid gray; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

h1{
    display:flex;
    align-items:stretch;
    justify-content:center;
    margin-bottom:40px;;
    width: 151px;
    height: 32px;
    font-family:'NanumGothic';
    font-style:normal;
    font-size: 30px;
    font-weight: 700;
    color: #4880EE;
}


input{
    box-sizing: border-box;
    width: 90%;
    height: 47px;
    background: white;
    border-radius: 12px;
    border-color: lightgray;
    border:1px solid;
}

div.button{
    display:flex;
    justify-content:center;
}

button{
    width:80%;
    height: 47px;
    /* margin-left: 136px;
    margin-top: 450px; */
    background: #4880EE;
    border-radius: 12px;
    margin: 0 auto;

}
.idpw {
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
}

.login_button{
    width:100%;
    display:flex;
    justify-content: center;
}

ul{
    padding:0px;
}