.wrapper{
    min-height:100vh;
    width:375px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:center; */
    border:1px solid gray;
}

p{
    display:flex;
    justify-content:center;
    width:151px;
    height:32px;
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #4880EE;
    margin-top:100px;
}

div.id_pw{
    display:flex;
    align-items: center;
    flex-direction:column;
    margin-top:50px;
    width:300px;
}

input{
    width:100%;
    height:40px;
    border:0.5px solid lightgray;
    border-radius: 12px;
    padding:5px;
    background:#FFFFFF;
}

button{
    width:50%;
    height:50px;
    background:#4880EE;
    border:#4880EE;
    border-radius:12px;
    margin-top:50px;
    color:white;
}

div.signup{
    margin-top:80px;
    color:#4880EE;
}