{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/home.css' %}">
{% endblock css %}

{% block title %}시간저금통{% endblock title %}

{% block wrapper %}
<h1>시간저금통</h1>
    <h2>테스트용</h2>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <p>{{ user.profile.nickname }} 님</p>
        </li>
        <li>
            <a href="{% url 'makePig' %}">돼지 생성</a>
        </li>
        <li>
            <a href="{% url 'list' %}">돼지 목록</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">로그아웃</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">로그인</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">회원가입</a>
        </li>
        {% endif %}
    </ul>
{% endblock wrapper %}

{% block script %}
<script src="{% static "index.js" %}"></script>
{% endblock script %}  