{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock css %}

{% block title %}시간저금통{% endblock title %}

{% block wrapper %}
<h1>시간저금통</h1>
    <ul>
        <a href="{% url 'pig_new' %}">돼지 생성</a>
        <img src="https://blogfiles.pstatic.net/MjAyMjA1MjhfMjAy/MDAxNjUzNzI5OTkzNzQw.cGMxkmj5QhBHyYXrVJcOp3JzPrxjOyoSbAKpAIw8xoQg.5wMgANpPgzPETa27oFAdyPrP1chT-qpfxc0El7Q4ly0g.JPEG.skycolor10/Group_1.jpg?type=w1">
        {% if user.is_authenticated %}
            <main><p>지금까지 {{ user.profile.nickname }} 님은</p>
    
            <h2 class="time">mypig 늦은 시간 총합</h2>
            <p>지각하셨네요.</p></main>
            
            
        <allpigs><mypigs class="text1">내 돼지들</mypigs>
            <ul>
            {% for pig in pigs %}
            <li>
                <a href="{% url 'pig_detail' %}">{{ pig.pig_name }}</a>
            </li>
            {% endfor %}
        </ul> </allpigs>


        <li>
            <a href="{% url 'logout' %}">로그아웃</a>
        </li>
        {% else %}
        <section>

            <form method="POST">
                {% csrf_token %} {% if error %}
                <p>{{ error }}</p>
                {% endif %}
                <div class="idpw">
                    <input type="text" name="username" placeholder="아이디" />
                    <input type="password" name="password" placeholder="비밀번호" />
                </div>
                <div class="login_button">
                    <button>로그인</button>
                </div>
            </form>
        </section>

        <li>
            <a href="{% url 'signup' %}">회원가입</a>
        </li>
        {% endif %}
    </ul>
{% endblock wrapper %}

{% block script %}
<script src="{% static "index.js" %}"></script>
{% endblock script %}  