{% extends 'base.html' %}
{% load static %}

{% block title %}
새 저금통
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'pig_new.css' %}">
{% endblock css %}

{% block wrapper %}

<div class="user-data">
  1:갑인간&2:갑인다&3:병인간&4:정인간&
  {% for profile in profiles %}
  {{profile.user.pk}}:{{profile.nickname}}&
  {% endfor %}
</div>

<form method="POST" data-form-id="1"><span>모임 명</span>
  <input name="pig_name" type="text" placeholder="돼지 이름">
  <br/>
  <span>모임 설명</span>
  <input name="pig_description" type="text" placeholder="돼지 설명">
  <br/>
  <span>지각하면... 얼마?</span>
  <input name="exchange_rate" type="text" placeholder="지각하면 얼마">
  {% csrf_token %}
</form>

<input class="search-bar" />

<div class="user-found-container">
</div>

<div class="user-added-container">
</div>

<div class="select-money">
  <button class="button-plus">+</button>
  <div class="money-field">500</div>
  <button class="button-minus">-</button>
</div>

<!--
<span>모임 명</span>
<input name="pig_name" type="text" placeholder="돼지 이름">
<br/>
<span>모임 설명</span>
<input name="pig_description" type="text" placeholder="돼지 설명">
<br/>
<span>지각하면... 얼마?</span>
<input name="exchange_rate" type="text" placeholder="지각하면 얼마">
-->
<button type="submit" class="submit" data-form-id="1">만들기</button>

{% endblock wrapper %}


{% block script %}
<script src="{% static 'pig_new.js' %}"></script>
{% endblock script %}



/////

<div class="pig-info-basic">
  <h2>돼지 저금통 정보<h2>
  
</div>