<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>돼지 생성!</h1>
    <form action="/pig_new" method="post">
        {% csrf_token %}

        <div class="pig-info-basic">
            <h2>돼지 저금통 정보<h2>
            
            <span>모임 명</span>
            <input name="pig_name" type="text" placeholder="돼지 이름">
            <br/>
            <span>모임 설명</span>
            <input name="pig_description" type="text" placeholder="돼지 설명">
            <br/>
            <span>지각하면... 얼마?</span>
            <input name="exchange_rate" type="text" placeholder="지각하면 얼마">
        </div>

        <div class="pig-info-member">
          <h2>멤버 추가<h2>
            
          {{profiles}}
        </div>

        <button type="submit">생성!</button>

        <a href="#" onClick="history.back();">뒤로 가기</a>

    </form>

    </body>
</html>