<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>이 모임에서 내가 늦은 시간 총합</h2>
    <h2>저금통 깨기 페이지로 넘어가는 버튼</h2>
    <a href = "{% pig_bye.html %}">저금통 깨기</a>

    <h2>일정 관련 섹션 - 추가 버튼(<a> - url) / 이미 생성된 일정 정보</h2>
    <h2>참여자 막대 - 데이터 계산만 잘 해서 프론트한테 말해보자^^</h2>
    <h2></h2>
    <h2></h2>

</body>
</html>