<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>제목</h2>
    <h3>해당 모임에서 내가 늦은 시간 총합과 함께 모든 모임원이 늦은 시간 총합을 보여주는 건 어떨런지요?</h3>
    <h3></h3>
    <a href="{% url 'pig_bye' %}">저금통깨기 버튼</a>
    <h3>모임 일정 모음 및 추가버튼 누르면 일정 생성 페이지</h3>
    <a href="{% url 'schedule_new' %}">일정 생성</a>
    <h3>참여자 막대 만들기</h3>
</body>
</html>