<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>일정 생성!</h1>
    <form action="{% url 'schedule_new' pig_pk %}" method="POST"> 
        {% csrf_token %}
        <input type="text" name="schedule_name" placeholder="일정 이름">
        <input type="text" name="schedule_description" placeholder="일정 설명">
        <input type="text" name="where_to_meet" placeholder="만날 장소">
        <input type="text" name="when_to_meet" placeholder="YYYY-MM-DD HH:MM">

        <button type="submit">생성!</button>
    </form>
</body>
</html>