<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>일정 생성!</h1>
    <form action="/makePig" method="post"> <!-- action 수정 요구 -->
        {% csrf_token %}
        <input type="text" name="schedule_new" placeholder="일정 이름">
        <input type="text" name="schedule_description" placeholder="일정 내용">
        <button type="submit">생성!</button>
    </form>
    <h3>일정 장소 추가</h3>
    <h3>일정 날짜 추가</h3>
</body>
</html>